<a href="https://colab.research.google.com/github/RobDeutsche/CISC499/blob/main/CISC499_H07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task #1: This sentence has a typo ('Mahcine' is mispelled).  Edit this text cell and correct it: **Machine Learning and Data Science**

Task #2: Run the statement below to calculate the result.

In [ ]:
print("Hello World!")

Task #3: Update the message in the text so that it greets you instead of me.

In [ ]:
print ("Hello Chuck!")

Task #4: The code statement below is intended to calculate the number of minutes in a day (60 minutes in an hour, 24 hours in a day), but it isn't correct.  It should be 1440.  Fix it so that it will correctly display the number of minutes in a day.

In [ ]:
minutes_in_day = 6 * 24
print("There are " + str(minutes_in_day) + " minutes in a day")

Task #5: Fix the syntax error in the statement below.  
It should be</br>
```
print("Hello World")
```

In [ ]:
print('Hello World')

Task #6: Change the statement below so that it prints hello

In [ ]:
x = 'hello'
print(x)

Task #7: Change the operation below from addition to subtraction

In [ ]:
x = 4 - 3
print(x)

Task #8: Change the operation below from multiplication to division

In [ ]:
x = 4 / 3
print(x)

Task #9: Change the operation below from division to integer-division

In [ ]:
y = 4 // 3
print(y)

Task #10: Change the operation below from integer-division to modulus (%)

In [ ]:
y = 4 % 3
print(y)

Task #11: You can use the '+' operator to concatenate strings.  Use it to combine the two strings in the code below.

In [ ]:
string1 = 'Artificial '
string2 = 'Intelligence '
string3 = string1 + string2 # <-- Place your code here.  It should look like: string1 + string2
print(string3)

Task #12: It's been a while since we've used x & y, but they are still available.  Add them together and display the results below.

In [ ]:
print(x)
print(y)
print(x+y)# Add your code for #12 here

Task #13: Raise 2 to the power of 8.  Remember! in Python the exponent operator is **

In [ ]:
2**8 # Add your code for #13 here

Task #14: Calculate the decimal value of the maximum size of a byte.  See the lesson on Number Systems if you're not sure how to do this.

In [ ]:
2**0+2**1+2**2+2**3+2**4+2**5+2**6+2**7  # Add your code for #14 here

Task #15: Variables hold their values and can be re-used.  The statements below add 1 to the original number 3 times.  Change it from adding 1 to adding 2.

In [ ]:
x = 3
x = x + 2
x = x + 2
x = x + 2
print(x)

Task #16: Variable names can be almost anything, but generally begin with a lowercase letter.  Change the variable name from my last name to yours.

In [ ]:
chuck = 'Awesome!'

Task #17: Don't confuse the variable name with the string literal.  Change the string literal in the code below to "moon"

In [ ]:
night = 'moon'
print(night)

Task #18: Use the code cell below to calculate the remainder of 13 divided by 7

In [ ]:
13%7# Add your code for #18 here

Task #19: A program is similar to a recipe.  Modify the program below so that it bakes 325 for 40 minutes.

In [ ]:
flour = "1 cup flour "
salt = "1 teaspoon salt "
oil = "2 tablespoons oil "
baking_soda = "1 teaspoon baking soda "
mix = flour + salt + oil + baking_soda
instructions = mix + " at 325 for 20 minutes"
bake = instructions
print(bake)

Task #20: Write your own recipe in the code cell below.

In [ ]:
# Add your code for #20 here